@model Task.Web.Models.PerformerViewModel
@{
    ViewBag.Title = "Amdm.ru-"+ @Model.Name;
}

<div class="panel">
    <div class="artist-profile">
        <h1>@Model.Name</h1>
    </div>
    <div class="profile-bio">
        <h3>Биография</h3>
            <div id="biography">
                @Html.Raw(@Model.Biography)
            </div>
    </div>
    <div>
        <img class="photo-biography" src="@Model.UrlImage" />
    </div>
</div>
