@model IEnumerable<Task.Web.Models.PerformerViewModel>
@{
    ViewBag.Title = "Amdm.ru";
}

<div class="panel">
        <h2 style="color:black">Популярные исполнители</h2>
    <div class="panel-body" style="padding:0px">
        <table class="table">
            <thead>
                <tr class="top_label">
                <th colspan="2">Исполнитель</th>
                <th class="number">Подборов</th>
                <th class="number">Просмотров</th>
                </tr>
            </thead>
            @*<tr>
                <th>Исполнитель</th>
                <th class="text-center">Подборов</th>
                <th class="text-center">Просмотров</th>
            </tr>*@
            @foreach (var item in Model)
            {
                <tr>
                    <td style="width:4%">
                        <a href='@Url.Action("PerformerProfile", "Home", new { idPerformer = item.Id, name = item.UrlName })'>
                            <img src='@item.UrlImage' width="33" height="33" style="border-radius:5px"/>
                        </a>
                    </td>
                    <td style="width:60%">@Html.ActionLink(item.Name, "PerformerProfile", new { idPerformer = item.Id, name = item.UrlName })</td>
                    <td>@item.CountOfSongs</td>
                    <td>@item.Views</td>
                </tr>
            }
        </table>
    </div>
</div>
