@model Task.Web.Models.SongViewModel
@{
    ViewBag.Title = Model.Performer.Name +"-"+ Model.Name + ", аккорды для гитры";
}

<div class="accords-for-gitar">
    <div class="info-song">
        <h2>@Model.Name, аккорды</h2>
        <pre id="text-song">
             @Html.Raw(@Model.Text)
        </pre>
    </div>

    <div class="b-podbor-info">   
        <div class="images-accords">
            <div class="b-podbor-info__top-buttons hidden-phone"><span id="hide-podbor-info" class="g-color__blue"><i class="fa fa-caret-down"></i> Свернуть </span></div>
            <h4>Аппликатуры аккордов</h4>
            @foreach (var item in Model.Accords)
            {
                <img src="@item.UrlImage" alt="@item.Name" />
            }
        </div>
    </div>
@if (Model.UrlVideo.Length != 0)
{
    <div class="b-video">
        <h2 class="g-color__brown">Видео</h2>
            <div class="b-video-container">
                <iframe src="@Model.UrlVideo" width="560" height="315">
                </iframe>
            </div>
    </div>
}
</div>


