@model Task.Web.Models.PerformerViewModel
@{
    ViewBag.Title = "Amdm.ru-Подборы аккордов";
}

<div class="panel">
    <div class="artist-profile">
        <h1>@Model.Name</h1>
        <div id="shortBiography">
            @Html.Raw(@Model.ShortBiography)
            @if (Model.ShortBiography.Length != 0)
            {
              <h5>@Html.ActionLink("Читать полную биографию", "BiographyProfile", new { idPerformer = Model.Id })</h5>
            }
        </div>
        <div class="profile-photo">
            <img src="@Model.UrlImage"/>
        </div>
     </div>
    <div>
        <h3>Подборы аккордов</h3>
    </div>
    <div class="panel-body set-accords">
        <table class="table">
            <thead>
                <tr class="top_label">
                    <th>Название композиции</th>
                    <th class="text-center">Просмотров</th>
                </tr>
            </thead>
                @foreach (var item in Model.Song)
            {
                    <tr>
                        <td class="td1">@Html.ActionLink(item.Name, "InfoSong", new { idSong = item.Id })</td>
                        <td class="td2">@item.Views</td>
                    </tr>
                }
         </table>
    </div>
</div>

@*DELETE FROM dbo.Accords Where Id>0
DELETE FROM dbo.Songs Where Id>0
DELETE FROM dbo.Performers Where Id>0*@
