@model Task.Web.Models.SongViewModel
@{
    ViewBag.Title = Model.Performer.Name +"-"+ Model.Name + ", аккорды для гитары";
}

<link href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet">
<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
<div class="accords-for-gitar">
    <div class="info-song">
        <h2>@Model.Name, аккорды</h2>
        <pre id="text-song">
             @Html.Raw(@Model.Text)
        </pre>
    </div>

    <div class="b-podbor-info">   
        <div class="images-accords">
            <div class="b-podbor-info__top-buttons hidden-phone"><span id="hide-podbor-info" class="g-color__blue"><i class="fa fa-caret-down"></i> Свернуть </span></div>
            <h4>Аппликатуры аккордов</h4>
            @foreach (var item in Model.Accords)
            {
                <img class="imagesAccord" src="@item.UrlImage" alt="@item.Name" />
            }
        </div>

        <form class="form-horizontal" action="@Url.Action("SaveAccords", "Accord")" method="post">
            <div class="editAccords">
                <input type="hidden" name="idSong" value="@Model.Id" />
                <input type="text" class="form-control"  name="strAccords" id="tokenfield" value=""/>
            </div>

            <input type="submit" value="Сохранить" class="btn btn-success saveAcc" />
        </form>
        <div class="buttons-arrow">
            <button type="button" value="pre" id="idPrevious"><img class="arrow" src='~/Content/Images/left.png' /></button>
            <button type="button" value="next" id="idNext"><img class="arrow" src='~/Content/Images/right.png' /></button>
        </div>
</div>
@if (Model.UrlVideo.Length != 0)
{
    <div class="b-video">
        <h2 class="g-color__brown">Видео</h2>
            <div class="b-video-container">
                <iframe src="@Model.UrlVideo" width="560" height="315">
                </iframe>
            </div>
    </div>
}
</div>


<script>
    $(document).ready(function () {
    var urlToRangeId = '/Song/GetRangeId/?idSong=' + @Model.Id + '&sort='+'@ViewBag.Sort';
    $.ajax(urlToRangeId, {
        success: function (data) {
            var a = data.indexOf(@Model.Id);

    $('#idPrevious').on('click', function (e) {
        var index = data.indexOf(@Model.Id);
        if (!data[index - 1])
            e.preventDefault();
        else {
            $.ajax({
                url: '/Song/InfoSong/?idSong=' + data[index - 1] + '&sort=' + '@ViewBag.Sort',
                cache: false,
                success: function (html) {
                    $("#content").html(html);
                }
            });
        }
    });

    $('#idNext').on('click', function (e) {
            var index = data.indexOf(@Model.Id);
        if (!data[index + 1])
            e.preventDefault();
        else {
            $.ajax({
                url: '/Song/InfoSong/?idSong=' + data[index + 1] + '&sort=' + '@ViewBag.Sort',
                cache: false,
                success: function (html) {
                    $("#content").html(html);
                }
            });
        }
    });
    }
});

    var url = "/Accord/DataAccords";
    var arr = [];
    $('.imagesAccord').each(function (index, value) {
        arr.push(value.alt);
    })
    $.ajax(url, {
        success: function (data) {
            $('#tokenfield').tokenfield({
                    tokens:arr,
                    autocomplete: {
                    source: data,
                    delay: 100
                },
                showAutocompleteOnFocus: true
            })
    }
    });
});
</script>
