@model Task.Web.Models.SongViewModel
@{
    ViewBag.Title = Model.Performer.Name +"-"+ Model.Name + ", аккорды для гитары";
}
<script src="dist/bootstrap-tokenfield.js"></script>

<link href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet">
<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
<div class="accords-for-gitar">
    <div class="info-song">
        <h2>@Model.Name, аккорды</h2>
        <pre id="text-song">
             @Html.Raw(@Model.Text)
        </pre>
    </div>

    <div class="b-podbor-info">   
        <div class="images-accords">
            <div class="b-podbor-info__top-buttons hidden-phone"><span id="hide-podbor-info" class="g-color__blue"><i class="fa fa-caret-down"></i> Свернуть </span></div>
            <h4>Аппликатуры аккордов</h4>
            @foreach (var item in Model.Accords)
            {
                <img class="imagesAccord" src="@item.UrlImage" alt="@item.Name" />
            }
        </div>

        <form class="form-horizontal" action="@Url.Action("SaveAccords", "Accord")" method="post">
            <div class="editAccords">
                <input type="hidden" name="idSong" value="@Model.Id" />
                <input type="text" class="form-control"  name="strAccords" id="tokenfield" value=""/>
            </div>

            <input type="submit" value="Сохранить" class="btn btn-success saveAcc" />
        </form>

</div>
@if (Model.UrlVideo.Length != 0)
{
    <div class="b-video">
        <h2 class="g-color__brown">Видео</h2>
            <div class="b-video-container">
                <iframe src="@Model.UrlVideo" width="560" height="315">
                </iframe>
            </div>
    </div>
}
</div>


<script>
    $(document).ready(function () {
        var url = "/Accord/DataAccords";
        var arr = [];
        $('.imagesAccord').each(function (index, value) {
            arr.push(value.alt);
        })
        $.ajax(url, {
            success: function (data) {
                $('#tokenfield').tokenfield({
                        tokens:arr,
                        autocomplete: {
                        source: data,
                        delay: 100
                    },
                    showAutocompleteOnFocus: true
                })
        }
        });
    });
</script>
