@model PagedList.IPagedList<Task.Web.Models.PerformerViewModel>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Amdm.ru";
}

<div class="panel">
        <h2>Популярные исполнители</h2>
    <div class="panel-body set-accords">
        <table class="table">
            <thead>
                <tr class="top_label">
                <th colspan="2">Исполнитель</th>
                <th class="td2">Подборов</th>
                <th class="td2">Просмотров</th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="td1-icon">
                        <a href='@Url.Action("PerformerProfile", new { idPerformer = item.Id, name = item.UrlName })'>
                            <img src='@item.UrlImage' width="33" height="33"/>
                        </a>
                    </td>
                    <td class="td1-1">@Html.ActionLink(item.Name, "PerformerProfile", new { idPerformer = item.Id, name = item.UrlName })</td>
                    <td class="td2">@item.CountOfSongs</td>
                    <td class="td2">@item.Views</td>
                </tr>
            }
        </table>
    </div>
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>
